h1 {
  color: pink;
}
.add {
  color:green;
  background: yellow;
  font-size: 20px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}
.error{
  color:red;
  background: yellow;
  font-size: large;
  border-style: solid;
  padding: 20px;
  margin-top: 10px;
}  